.invite-container {
  background-image: none;
  background-color: #f6f9fc;
}

.invite-box {
  background-color: white;
}

.btn-purple {
  color: whitesmoke;
  background-color:#7676f8 ;
  height: 30px;
  font-size: 14px;
}

.btn-purple:hover {
  color: whitesmoke;
  background-color:#6464f8 ;
  height: 30px;
  font-size: 14px;
}

.form-control {
  height: 30px;
  font-size: 16px;
}

label {
  font-weight: bold;
  color: #7676f8;
}
