// Styling the tooltip

.tippy-content {
  background-color: lavender;
}

h4 {
  color: #7676f8;
}

hr {
  border-top: 1px solid #7676f8;
}

a {
  color: #7676f8;
}

a:hover {
  color: #7676f8;
}

li {
 color: #7676f8;
}

#clipboardlink {
  color: #7676f8;
  font-size: 16px;
}
.fas {
  font-size: 20px;
  color: #7676f8;
}

ul {
  list-style-type: none;
}

.form-control {
  height: 24px;
  font-size: 14px;
  overflow: hidden;
}

.btn-purple {
  color: whitesmoke;
  background-color:#7676f8 ;
  height: 24px;
  font-size: 14px;
}
