.fas {
  font-size: 20px;
  color: #691fff;
}

ul {
  list-style-type: none;
}

.form-control {
  height: 24px;
  font-size: 14px;
  overflow: hidden;
}

button {
  height: 24px;
  font-size: 14px;
}
