<!--homepage banner-->
<div class="home-container">
  <div class="home-banner">
    <div class="banner-text">
      <h1>Super charge<br> your coffee chats</h1>
      <p>Millions of young professionals - from startups to large enterprises - use Caffiend's software to schedule coffee chats easily.</p>
    </div>
  </div>
  <br>
<!--homepage contents - cards-->
  <div class="content-title my-4">
    <center><h3>How Caffiend works</h3></center>
  </div>
  <br>
  <div class="card-container mb-3">
    <div class="cards">
      <div class="card">
        <div class="border-bottom mb-2">
          <h4>Create</h4>
        </div>
          <p>Create a meeting easily using Caffiend. 🗓️</p>
      </div>

      <div class="card">
        <div class="border-bottom mb-2">
          <h4>Invite</h4>
        </div>
          <p>Send a Google invite over to your invitee. ✉️</p>
      </div>
      <div class="card">
        <div class="border-bottom mb-2">
          <h4>Chat</h4>
        </div>
          <p>Look forward to your coffee chat! ☕</p>
      </div>
  </div>
<!--homepage contents - columns-->
  <div class="border-top py-3 mt-4"></div>
    <center><h3>Hassle free scheduling to take out the work in networking.</h3></center>
  <br>
    <div class="columns row">

      <div class="column">
        <%= image_tag("calendar.png", alt:"freekpik", class:"column-img") %>
          <div class="column-text">
            <h5>Seamless Scheduling</h5>
            <p>Easily setup and schedule meetings with others without leaving the application.</p>
          </div>
      </div>

      <div class="divder border-right mx-2"></div>

      <div class="column">
        <%= image_tag("instant-message.png", alt:"juicy fish", class:"column-img") %>
          <div class="column-text">
            <h5>Instant Booking</h5>
            <p>Enable users to schedule meetings without the back-and-forth email communication.</p>
          </div>
      </div>

      <div class="divder border-right mx-2"></div>

      <div class="column">
        <%= image_tag("reminder.png", alt:"freepik", class:"column-img") %>
          <div class="column-text">
            <h5>Reminders</h5>
            <p>Send custom reminders via email for upcoming meetings.</p>
          </div>
      </div>

      <div class="divder border-right mx-2"></div>

      <div class="column">
        <%= image_tag("video-conference.png", alt:"freepik", class:"column-img") %>
          <div class="column-text">
            <h5>Video Conferencing</h5>
            <p>Have the option to connect via Zoom and Google Meet, and generate conference links within the invite.</p>
          </div>
      </div>

    </div>

</div>
