.calendar-style .btn-secondary, .btn-meeting, .btn-calendar {
  color: lavender;
  background-color: rgb(118, 118, 248);
  border: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 28px;
  transition: 0.3s ease;
}

.btn-secondary:hover, .btn-meeting:hover, .btn-calendar:hover {
  background-color: lavender;
  color: rgb(118, 118, 248);
}

.caffiend-btn:hover {
  color: #5a18df;
}

.caffiend-btn.next {
  background-color: white;
  color: rgb(118, 118, 248);
  border: 1px solid #dddd;
  border-radius: 12px;
}

.meeting-button {
  margin: 0px 15px;
}

.btn-meeting.large, .btn-calendar.large {
  font-size: 20px;
  width: 25%;
  height: 50px;
}

.btn-meeting.large.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.btn-calendar.large.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.calendar-button {
  justify-content: space-evenly;
  align-self: flex-end;
}

.btn-rounded {
    border-radius: 35px;
}

// Gradient Button

.btn-gradient {
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    color: #fff;
    border: 3px solid #eee;
}

.btn-gradient:hover {
    color: #fff;
    background: linear-gradient(to right, #676ef7, #4e54c8);
}
