.dashboard-card .btn, .info-card .btn, .calendar-style .caffiend-btn, .caffiend-btn {
  background-color: #0A2540;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
}

.calendar-style .btn-secondary {
  color: lavender;
  background-color: rgb(118, 118, 248);
  border: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background-color: lavender;
  color: rgb(118, 118, 248);
}

.caffiend-btn:hover {
  color: #5a18df;
}

.caffiend-btn.next {
  background-color: white;
  color: rgb(118, 118, 248);
  border: 1px solid #dddd;
}
