// Styling for simple calendar

.simple-calendar {
  table {
    min-height: 80vh;
    margin-bottom: 0;
    border: 0;
  }
  thead {
    background-color: lavender;
    color: rgb(118, 118, 248);

    tr {
      height: 45px;
    }
    th {
      vertical-align: middle;
      text-align: center;
      border-left: 0;
      border-right: 0;
    }
  }
  .prev-month {
    background-color: white;
    color: lightgrey;
  }

  .current-month {
    background-color: white;
    color: rgb(118, 118, 248);
  }

  .next-month {
    background-color: white;
    color: lightgrey;
  }

  td {
    overflow: hidden;
  }
  .today {
    background-color: floralwhite;
  }

  .day {
  overflow: hidden;
  height: 100px;
  }
}



.meeting {
  background-color: lavender;
  color: rgb(118, 118, 248);
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid #dddd;
  height: 30px;
  transition: background 0.3s ease;
  overflow: hidden;
  a {
    color: rgb(118, 118, 248);
  }
}

.meeting:hover {
  color: lavender;
  background-color: rgb(118, 118, 248);
  a {
    color: lavender;
  }
}

.meeting.pending {
  background-color: rgb(205, 245, 245);
  color: rgb(77, 204, 247);
  a {
    color: rgb(77, 204, 247);
  }
}

.meeting.pending:hover {
  background-color: rgb(77, 204, 247);
  color: rgb(205, 245, 245);
  a {
    color: rgb(205, 245, 245);
  }
}

@media(max-width: 320px) {
  .calendar-style .caffiend-btn {
    font-size: 8px;
  }
  .calendar-style .btn-secondary {
  background-color: #691FFF;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
}
}

@media(max-width: 425px) {
  .calendar-style .caffiend-btn {
    font-size: 8px;
  }
  .calendar-style .btn-secondary {
  font-size: 8px;
}
}

.calcontain {
  border-radius: 20px;
  overflow: hidden;
}
