// Styling for simple calendar

.simple-calendar {
  table {
    min-height: 80vh;
    box-shadow: 2px 2px 8px #14213D;
  }
  .td {
    width: 80px;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #691FFF;
  transition: background 0.3s ease;

  a {
    color: white;
  }
}

.meeting:hover {
  background: #5a18df;
  color: white;
}

.meeting.pending {
  color: white;
  width: auto;
  padding: 8px 8px;
  border-radius: 4px;
  background: #1FDAFF;
  transition: background 0.3s ease;
  opacity: 0.8;
}

.meeting.pending:hover {
  background: #1FDAFF;
  opacity: 1;
  color: white;
}

@media(max-width: 320px) {
  .calendar-style .caffiend-btn {
    font-size: 8px;
  }
  .calendar-style .btn-secondary {
  background-color: #691FFF;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
}
}

@media(max-width: 425px) {
  .calendar-style .caffiend-btn {
    font-size: 8px;
  }
  .calendar-style .btn-secondary {
  font-size: 8px;
}
}