.choice {
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 4px 4px 6px lightgray;
  transition: 0.3s ease;
}

.choice:hover {
  cursor: pointer;
}

.choice.selected {
  background-color: lavender;
}

.dayint {
  font-weight: bold;
  font-size: 20px;
  color: rgb(118, 118, 248);
}

.dayint.large {
  font-size: 28px;
}

.month {
  padding-right: 35px;
  border-right: 1px solid #dddd;
}

.details {
  h5,h3 {
    color: rgb(118, 118, 248);
  }
}

// To place object vertically and horizontally center
.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;
font-size: 20px;
color: rgb(178, 178, 252);
}

// To place object on the top right
.top-right {
  position: absolute;
  top: 0px;
  right: 33px;
}

// For unadded choice fields
.choice.unadded {
  background-color: rgb(223, 223, 241);
  font-size: 20px;
  height: 100%
}

// For links in choice
.choice a {
    color: rgb(118, 118, 248);
    text-decoration: none;
    font-size: 30px;
}

.choice a:hover {
    color: rgb(115, 115, 250);
    font-weight: bold;
    text-decoration: none;
}

// Meeting new page
.containter {
  h2 {
    color:rgb(118, 118, 248);
  }
}
.fields.purple {
  color: rgb(118, 118, 248);
}

.fields input[type="text"] {
  background-color: lavender;
}

.fields textarea {
  background-color: lavender;
}
