.column-container {
  padding: 50px;
  background-color: white;
}
.columns {
  display: flex;
  justify-content: space-evenly;
  //margin-top: 30px;
  //margin-bottom: 50px;
}

.column {
  //width: 190px;
  //margin-right: 10px;
  align-content: center;
}

.column .column-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.column-text {
  margin-top: 30px;
  overflow: hidden;
}

.column-text h5 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #1FDAFF;
}

.column-text p {
  font-size: 16px;
  font-family: 'Open-sans', sans-serif;
  padding-block: 6px;
  text-align: center;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
