.dashboard-container {
  margin: auto;
  border: 1px solid red;
}

.dashboard-cards {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-card {
  background-color: white;
  margin: 1px;
  border: 1px solid black;
  height: 700px;
  width: 300px;
}

.card-title {
  margin: 10px auto;
  border-bottom: 1px solid black;
  text-align: center;
}

.user-profile .img-circle {
  height: 200px;
  width: 200px;
  border-radius: 150px;
}

.user-description {
  margin: 5px;
  padding: 5px;
}

.schedule-card {
  display: flex;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.fas {
  font-size: 50px;
}

.upcoming-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.engagements-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

// viewport