.dashboard-container {
  background-color: #f6f9fc;
}

.dashboard-card {
  background-color: white;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-height: 800px;
  max-width: 300px;
  box-shadow: 4px 4px 6px lightgrey;
}

.tab-card {
  margin-top: 15px;
  max-height: 600px;
}

.schedule-card {
  background-color: white;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 4px 4px 6px lightgrey;
}

.upcoming-card, .engagement-card {
  width: 300px;
}

.engagement-card {
  border-left: 1px solid lightgrey;
}

.card-title {
  justify-content: center;
  margin: 15px auto;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.dashboard-card .profile-img {
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.user-description {
  margin: 5px;
  padding: 5px;
}

.info-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 70px;
}

.engagement-info span {
  vertical-align: middle;
}

// .engagement-num {
//   text-align: center;
//   margin: auto auto auto 40px;
//   height: 80px;
//   width: 80px;
//   color: rgb(118, 118, 245);
// }

// .engagement-details {
//   text-align: center;
//   margin: auto 60px auto auto;
//   height: 80px;
//   width: 80px;
// }

.edit-user {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 10px;
}

.card-title img {
  height: auto;
  width: 40px;
}

.info-card h5 {
  margin: 0;
  color: #7676f8;
}

.info-card p {
  margin: 0;
}
