.dashboard-container {
  // margin: auto;
  background-color: #f6f9fc;
}

.dashboard-card {
  background-color: white;
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 700px;
  max-width: 300px;
  box-shadow: 2px 2px 8px #14213D;
}

.card-title {
  justify-content: center;
  margin: 15px auto;
  border-bottom: 1px solid black;
  text-align: center;
}

.profile-img {
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.user-description {
  margin: 5px;
  padding: 5px;
}

.info-card {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.engagement-num {
  text-align: center;
  margin: auto auto auto 40px;
  height: 80px;
  width: 80px;
}

.engagement-details {
  text-align: center;
  margin: auto 60px auto auto;
  height: 80px;
  width: 80px;
}

.fas {
  margin-left: 20px;
  margin-right: 25px;
  font-size: 50px;
}

.small-img-circle {
  margin-left: 20px;
  margin-right: 25px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

.info-card h5 {
  margin: 0;
}

.info-card p {
  margin: 0;
}

.btn {
  color: #691fff;
  border-radius: 8px;
}